.sidenav {
    background-color: #3f51b5;
    width: 200px;
 
 
}

.material-icons {
    color: #FFF; 
}

.sidenav i {
    padding-right: 10px;
}

.content{
    padding: 16px;
    background-color: #fff;
}




