table {
    width:  100%;
    
}

.edit {
    color: #d9cd26;
    margin-right: 10px;
}

.delete{
    color: #e35e6b;
    cursor: pointer;
    
}

.detail,
.edit {
    margin-right: 10px; 
}

.full-width-table {
    width: 100%;
  }
  
